.nav-bar {
    background-color: rgb(0, 100, 139);
    overflow: auto;
}
.nav-bar a {
    color: white;
}
  
.nav-bar ul {
    list-style-type: none; 
    padding: 10px;
    margin: 10px;
}
.nav-bar li {
    float: left;
    margin: 5px 20px;
}